@model IEnumerable<PresantaionLayer.Models.AnswerView>

@{
    ViewBag.Title = "GetAnswers";
   
}


<h2>Question</h2>
<div class="well" style="padding-top:0px;">
    <div class="page-header" style="margin:0px;color:#005999;">
        <h3> Q. @Html.Label(ViewData["QuestionTitle"].ToString())</h3>

    </div>
    <div class="panel-body">
        <p>@ViewBag.QDescription</p>
    </div>
</div>
<div class="collapse" id="viewdetails">
    
    @using (Html.BeginForm("CreateAnswer", "Answer", FormMethod.Post))
    {
        <b>Enter your answer:</b>
        <div class="form-group">
           <textarea rows="4" cols="50" id="TxtAra" name="TxtAra" required></textarea>
              <div style="margin:5px;">
                <input type="submit" id="BtnSbmt" class="btn btn-info" value="Submit" />
            </div>
        </div>
    }


</div>
<p><a class="btn btn-primary" data-toggle="collapse" data-target="#viewdetails">Post Your Answer &raquo;</a></p>
<h2>Answers</h2>



@{ 
    int i = 0;
}
@foreach (var item in Model)
{
    <div class="card" style="background-color:snow;">
       
      

     <div class="container">

            <div class="row">
                <div class="col-md-1">
                    <div >
                        <p style="margin-bottom:0px;"></p>
                             <div class="vote circle"  >     
                                 <div class="increment up" id="@item.AnswerNo"></div>
                                <div class="increment down"  id="@item.AnswerNo"></div>
                                <div class="count"></div>
                            </div>
                       
                       
                    </div>
                </div>
                <div class="col-md-1" style="color:grey;margin-top:15px;" >
                    Votes
                    <strong  class="voter" style="margin-left:4px;font-size:30px;" id="@item.AnswerNo">
                    </strong>   
                </div>
                <div class="col-md-8">
                    <h4>
                        <p style="color:steelblue;">
                            @Html.DisplayFor(modelItem => item.Answerlist)
                        </p>
                    </h4>


                </div>
                <div class="col-md-2">
                    Answered
                    <p style="color:lightblue;">
                        @Html.DisplayFor(modelItem => item.TimeDifference) mins ago
                        @Html.DisplayFor(modelItem => item.AnswerDate)
                    </p>
                   
                </div>
            </div>

        </div>

    </div><br />
}

    

